@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 30% 85%;
    --background-dark: 280 46% 5%;
    --background-light: 39 30% 85%;
    --foreground: 39 10% 8%;
    --foreground-light: 39 10% 8%;
    --foreground-dark: 21 10% 98.5%;

    --muted: 39 65% 21%;
    --muted-foreground: 39 10% 13%;

    --popover: 21 45% 9.1%;
    --popover-foreground: 21 10% 98.5%;

    --card: 21 45% 9.1%;
    --card-foreground: 21 10% 98.5%;

    --border: 21 50% 21%;
    --input: 21 50% 21%;

    --primary: 14 84% 78%;
    --primary-foreground: 14 84% 5%;

    --secondary: 334 31% 60%;
    --secondary-foreground: 334 31% 8%;

    --accent: 247 7% 47%;
    --accent-foreground: 247 7% 8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 21 10% 98.5%;

    --ring: 21 100% 70%;
  }

  .dark {
    --background: 280 46% 5%;
    --background-dark: 280 46% 5%;
    --background-light: 39 30% 85%;
    --foreground: 21 10% 98.5%;
    --foreground-light: 39 10% 8%;
    --foreground-dark: 21 10% 98.5%;

    --muted: 21 50% 21%;
    --muted-foreground: 21 10% 57%;

    --popover: 21 45% 9.1%;
    --popover-foreground: 21 10% 98.5%;

    --card: 21 45% 9.1%;
    --card-foreground: 21 10% 98.5%;

    --border: 21 50% 21%;
    --input: 21 50% 21%;

    --primary: 21 100% 70%;
    --primary-foreground: 21 10% 7%;

    --secondary: 21 50% 21%;
    --secondary-foreground: 21 10% 98.5%;

    --accent: 21 50% 21%;
    --accent-foreground: 21 10% 98.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 21 10% 98.5%;

    --ring: 21 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  box-sizing: border-box;
}
