@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #ff9966, #ff5e62);

    --background: 21 65% 85%;
    --foreground: 21 10% 30%;

    --muted: 21 50% 21%;
    --muted-foreground: 21 10% 57%;

    --popover: 21 45% 9.1%;
    --popover-foreground: 21 10% 98.5%;

    --card: 21 45% 9.1%;
    --card-foreground: 21 10% 98.5%;

    --border: 21 50% 21%;
    --input: 21 50% 21%;

    --primary: 21 100% 70%;
    --primary-foreground: 21 10% 7%;

    --secondary: 21 50% 21%;
    --secondary-foreground: 21 10% 98.5%;

    --accent: 21 50% 21%;
    --accent-foreground: 21 10% 98.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 21 10% 98.5%;

    --ring: 21 100% 70%;
  }

  .dark {
    --gradient: linear-gradient(to top left, #ff9966, #ff5e62);

    --background: 21 65% 5.6%;
    --foreground: 21 10% 98.5%;

    --muted: 21 50% 21%;
    --muted-foreground: 21 10% 57%;

    --popover: 21 45% 9.1%;
    --popover-foreground: 21 10% 98.5%;

    --card: 21 45% 9.1%;
    --card-foreground: 21 10% 98.5%;

    --border: 21 50% 21%;
    --input: 21 50% 21%;

    --primary: 21 100% 70%;
    --primary-foreground: 21 10% 7%;

    --secondary: 21 50% 21%;
    --secondary-foreground: 21 10% 98.5%;

    --accent: 21 50% 21%;
    --accent-foreground: 21 10% 98.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 21 10% 98.5%;

    --ring: 21 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  box-sizing: border-box;
}
